<div class="jumbotron text-center">
  <h1>Todo List</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-right">
      <form class="form-inline" ng-submit="todo.saveItem()">
        <div class="form-group">
          <label for="newItem">Add Item &rArr;</label>
          <input type="text" required="required" id="newItem" class="form-control" placeholder="Description" ng-model="todo.newItemDescription" style="width: 300px" />
        </div>
        <button type="submit" class="btn btn-success">Save Todo Item</button>
      </form>
    </div>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row" ng-hide="todo.loading">
  <div class="col-md-12 col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>State</th>
          <th>S.No</th>
          <th>Description</th>
          <th>Posted at</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in todo.getItems()" ng-class="{'bg-danger': item.state == 'wont-do', 'bg-success': item.state == 'done', 'bg-warning': item.state == 'paused'}">
          <td>
            <select ng-model="item.state">
              <option value="pending">Pending</option>
              <option value="done">Done</option>
              <option value="paused">Paused</option>
              <option value="wont-do">Won't Do</option>
            </select>
          </td>
          <td>{{$index + 1}}</td>
          <td>
            <span ng-hide="item.editMode">{{item.description}}</span>
            <form ng-show="item.editMode" class="form-inline" ng-submit="todo.editModeSave($index)">
              <div class="form-group">
                <input type="text" required="required" class="form-control input-sm" placeholder="Description" ng-model="item.newDescription" />
              </div>
              <button type="submit" class="btn btn-success btn-xs">Update</button>
              <button type="button" class="btn btn-danger btn-xs" ng-click="todo.closeEditMode($index)">Cancel</button>
            </form>
          </td>
          <td>{{item.postedAt | humanTime}}</td>
          <td><button class="btn btn-xs btn-info" ng-click="todo.openEditMode($index)">Edit</button></td>
          <td><button class="btn btn-xs btn-danger" ng-click="todo.deleteItem($index)">Delete</button></td>
        </tr>
        <tr ng-show="todo.getItems().length == 0">
          <td colspan="6" class="text-center bg-info">No Items Found! Get started by adding your first item above!</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<div class="row" ng-show="todo.loading">
  <div class="col-md-6 col-sm-6 col-md-push-3 col-sm-push-3 text-center bg-warning">Loading Items...</div>
</div>
